<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Хи Хи Ха Ха FEFU</title>
    <link rel="stylesheet" href="{% static "css/mainstyle.css" %}">
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div class="title"><span>FEFU КВН Club</span></div>
        <div class="title" id="photo">
            <div class="user_facepalm_contour">
                <div class="facepalm">

                </div>
            </div>
        </div>
        <form action="#">
        <div class="row">
            <input type="text" placeholder="Прозвище на игру" required>
        </div>
        <div class="row button">
            <input type="submit" id="create" value="CREATE GYM">
            <input type="submit" id="random" value="RANDOM GYM">
            <input type="submit" id="private" value="PRIVATE GYM">
        </div>
    </form>
    </div>
</div>
</body>
</html>