<html lang="ru" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хи Хи Ха Ха FEFU</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css" />
    <link href="../static/css/index.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <form action="#" class="btn-block">
        <input type="submit" value="вход" class="link login">
        <input type="submit" value="регистрация" class="link register">
    </form>
    <div  class="tutorial-section">
        <div class="MuiContainer-root MuiContainer-maxWidthLg">
            <div class="jss924">
                <h2 class="MuiTypography-root kreon jss925 MuiTypography-h3">Об игре<span class="emoji">❓</span></h2>
                <p class="MuiTypography-root jss926 MuiTypography-body1">ХИ-ХИ-ХА-ХА FEFU — это платформа, где люди
                    могут собираться в виртуальных лобби, чтобы соревноваться в создании смешных подписей к картинкам
                    или мемам. Этот сервис предлагает увлекательную и интерактивную игровую атмосферу, в которой
                    участники могут проявить свою креативность и юмористический талант!</p>
            </div>

            <ul>
                <li>
                    1.Регистрация и создание лобби:
                    <br>
                    Пользователи могут зарегистрироваться на платформе и создать собственное лобби. Они могут выбрать количество участников в лобби и установить параметры игры, например, время на написание подписей к картинка
                </li>
                <li>
                    2.Регистрация и создание лобби:
                    <br>
                    Пользователи могут зарегистрироваться на платформе и создать собственное лобби. Они могут выбрать количество участников в лобби и установить параметры игры, например, время на написание подписей к картинка
                </li>
                <li>
                    3.Регистрация и создание лобби:
                    <br>
                    Пользователи могут зарегистрироваться на платформе и создать собственное лобби. Они могут выбрать количество участников в лобби и установить параметры игры, например, время на написание подписей к картинка
                </li>
                <li>
                    4.Регистрация и создание лобби:
                    <br>
                    Пользователи могут зарегистрироваться на платформе и создать собственное лобби. Они могут выбрать количество участников в лобби и установить параметры игры, например, время на написание подписей к картинка
                </li>
                <li>
                    5.Регистрация и создание лобби:
                    <br>
                    Пользователи могут зарегистрироваться на платформе и создать собственное лобби. Они могут выбрать количество участников в лобби и установить параметры игры, например, время на написание подписей к картинка
                </li>

            </ul>
    </div>
</body>

</html>