<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хи Хи Ха Ха FEFU</title>
    <link href="../static/css/meme_rating.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="wrapper">
        <div class="img-area">
            <img src="../static/img/filler.png" alt=""/>
            <div class="user-text" id="user-text">
                ты не ты когда голоден
            </div>
        </div>
        <div class="desc-block">
            <div class="task-note">
                ОЦЕНИТЕ
                <br>
                СИЕ
                <br>
                ШЕДЕВР
            </div>
            <form action="#" method="POST" class="rating-block">
                <a href="#" onClick="document.send.submit();">
                    <img src="../static/img/like.jpg" class="rate-btn" name="send" />
                </a>
                <a href="#" onClick="document.send.submit();">
                    <img src="../static/img/dislike.jpg" class="rate-btn" name="send" />
                </a>
            </form>
            <div class="indicators">
                <div class="time-ind-label">
                    Время:
                </div>
                <div class="users-count-ind-label">
                    Готовы:
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/meme_rating.js"></script>
</body>
</html>